@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  padding-top: 100px;
  background: #f1f1f1
}

footer {
  margin-top: 100px;
}

table, td, th {
  vertical-align: middle;
  border: none;
}

th {
  border-bottom: 1px solid #DDD;
}
